<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yemyatthu.moelaywatha">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:name=".MoeLayWaTha"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <provider
        android:name=".provider.WeatherStubContentProvider"
        android:authorities="@string/account_authorities"
        android:exported="false"
        android:syncable="true"/>

    <service android:name=".sync.WeatherAuthenticatorService">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator"/>
      </intent-filter>

      <meta-data
          android:name="android.accounts.AccountAuthenticator"
          android:resource="@xml/weather_authenticator_metadata"/>
    </service>
    <service
        android:name=".sync.WeatherSyncService"
        android:exported="true"
        android:process=":sync">
      <intent-filter>
        <action android:name="android.content.SyncAdapter"/>
      </intent-filter>

      <meta-data
          android:name="android.content.SyncAdapter"
          android:resource="@xml/weather_sync_service_metadata"/>
    </service>

    <activity
        android:name=".ui.MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
